<div class="form">
    <h3>Get in touch</h3>
    <div class="form-group">
      <input type="text" class="form-control" value="" placeholder="Name" id="contact-name" />
      <label class="input-field-icon icon-user" for="login-name"></label>
    </div>

    <div class="form-group">
      <input type="email" class="form-control" value="" placeholder="Email" id="contact-email" />
      <label class="input-field-icon icon-email" for="login-email"></label>
    </div>
    
    <div class="form-group">
      <textarea class="form-control" value="" placeholder="Message" id="contact-message" rows="1"></textarea>
    </div>

    <button id="contact-send" class="btn btn-primary btn-lg btn-block">Send</button>
  </div>