<div class="sp-container">
    <div class="sp-content">
      <div class="sp-globe"></div>
      <h2 class="frame-1">AWESOME</h2>
      <h2 class="frame-2">TEXT ANIMATION EFFECT</h2>
      <h2 class="frame-3">BUILD WITH CSS3</h2>
      <h2 class="frame-4">TEST IT!</h2>
      <h2 class="frame-5">
        <span>FORK,</span>
        <span>CHANGE,</span>
        <span>EXPERIANCE.</span>
      </h2>
      <a class="sp-circle-link" href="https://nick.mkrtchyan.ga">by Nick</a>
    </div>
  </div>