<main style="width: 80% !important">
    <header class="main-head">
      <div class="icons"><i class="fa fa-user-md"></i><i class="fa fa-comments-o"></i><i class="fa fa-bell-o"><span class="number-alert">3</span></i></div>
      <div class="logo"><i class="fa fa-rocket"></i></div>
      <div class="search">
        <input type="text" name="search" placeholder="Type here to search..." autocomplete="off"/><i class="fa fa-search"></i>
      </div>
    </header>
    <div class="container user">
      <div class="user-card">
        <figure><img src="../../assets/img/Qwip.png"/></figure>
        <div class="user-info">
          <div class="name"> <span>Qwip LTD				</span><i class="fa fa-star on"></i><i class="fa fa-star on"></i><i class="fa fa-star on"></i><i class="fa fa-star on"></i><i class="fa fa-star off"></i></div>
          <div class="user-role">
            Company &nbsp; &#8226;<a href="#">Learn more</a>
          </div>
          <div class="experience-points"><i class="fa fa-coffee"></i>8,977 exp</div>
        </div>
      </div>
      <div class="action-links">
        <ul>
          <li><a href="#" data-title="Edit profile"><i class="fa fa-pencil"></i></a></li>
          <li><a href="#" data-title="Sign out"><i class="fa fa-sign-out"></i></a></li>
        </ul>
      </div>
    </div>
    <!-- main content-->
    <div class="wrapper">
      <ul class="category-navigation">
        <li class="active"><a routerLink="/dash/mapa/mapeo">Paises mapeados</a></li>
        
      </ul>
     
    </div>
    <router-outlet></router-outlet>
  </main>
  