

.menu{
	padding:0;
	list-style:none;
	width:100%;
	font-size:18px;
	background: #FDFEFE;
}

.menu li a{
	display: block;
	border-bottom: 1px solid rgba(0,0,0, 0.2);
	border-top: 1px solid rgba(255,255,255, 0.2);
	background:#ECF0F1;
	text-decoration:none;
	color: #000;
	text-shadow: 1px 0px 1px rgba(0,0,0,0.2);
	filter: dropshadow(color=#000, offx=1, offy=0);
	padding:10px;
	padding-left:20px;
}

.menu li ul li a{
	font-size:14px;
	color:#47689d;
	text-shadow: 1px 0px 1px rgba(255,255,255,0.5);
	
}

.menu li a:hover{
    background:#ABEBC6;
    color: #000;
	-moz-transition: background 0.3s ease-in;
	-webkit-transition: background 0.3s ease-in;
	-o-transition: background 0.3s ease-in;
}

.menu ul{
	margin:0;
	padding:0;
	list-style:none;
	height:0;
	overflow: hidden;
	transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
}

.menu li:hover ul{
	height:120px;
	overflow-y:auto;
	overflow-x:hidden;
}

.menu ul li a{
	background:#fafafa;
}

.menu ul li a:hover {
    background: none repeat scroll 0 0 #ABEBC6;
    color: #fff;
    -moz-transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
}
.cont{
    position: relative;
    width: 60%;
    height: 80%;
   
    margin-top: 50px;
    top: 30%;
    left: 20%;
}
.tit{
	margin-top: 50px;
	width: 100%;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}
.def{
	position: relative;
	width: 100%;

}

p{
	height: 60px;
	
	padding: 20px;
}
.anun{
	position: relative;
	left: 100px;
	font-size: 22px;
}
.anuncio{
	position: relative;
	width: 80%;
	margin-top: 50px;
	margin-bottom: 50px;
	left: 10%;
	background: #ECF0F1;
	font-size: 24px;

}
hr{
	width: 98%;
	position: relative;
	background-color: #34495E;
	height: 1px;
	z-index: 1000;
	left: 0%;
	visibility: hidden;
}
p:hover{
	background: #ABEBC6;
	transition: 1s;
}
