<p class="tit">Lista de todos tus anuncios</p>

<div class="cont z-depth-5">
  <ul class="menu">
  <li><a href="#">Anuncio Pizza</a>
     <ul>
       <li><a href="#">Pizzeria 1</a></li>
       <li><a href="#">Pizzeria 2</a></li>
       <li><a href="#">Pizzeria 3</a></li>
       <li><a href="#">Pizzeria 4</a></li>
       <li><a href="#">Pizzeria 5</a></li>
    </ul>
 </li>
   <li><a href="#">Anuncio Lasagna</a>
    <ul> 
      <li><a href="#">Lasagna 1</a></li>
      <li><a href="#">Lasagna 2</a></li>
      <li><a href="#">Lasagna 3</a></li>
      <li><a href="#">Lasagna 4</a></li>
      <li><a href="#">Lasagna 5</a></li>
      <li><a href="#">Lasagna 6</a></li>

    </ul>
  </li> 

  <li><a href="#">Anuncio especiales</a>
    <ul>
      <li><a href="#">Especial 1</a></li>
      <li><a href="#">Especial 2</a></li>
    </ul>
  </li> 

   <li><a href="#">Anuncio Tacos</a>
     <ul>
       <li><a href="#">Taqueria 1</a></li>
       <li><a href="#">Taqueria 2</a></li>
    </ul>
 </li> 
 <li><a href="#">Anuncio Otros</a>
  <ul>
    <li><a href="#">Otros sucursal 1</a></li>
    <li><a href="#">Otros sucursal 2</a></li>
 </ul>
</li> 

</ul>
</div>
<div class="def">
<p class="tit"> Detalles de tus anuncios</p>

<div class="anuncio z-depth-4">
<p>Nombre: Pizzas castillo</p><hr>
<p>Descrpcion: Asi es rick. tenemos lo que buscas.</p><hr>
<p>Giro: Alimentos, comida rapida.</p><hr>
<p>Horarios de servicio: 24 horas de lunes a viernes</p><hr>
<p>Anuncios desplegados: 1500000 </p><hr>
<p>Tiempo que mostraremos el anuncio: 100 dias</p><hr>
<p>ubicaciones : </p>
  
  <ul class="anun">
    <li>ubicacion 1</li>
    <li>ubicacion n</li>
  </ul>
<hr>
<p>Foto: <img src="" alt="foto no disponible"></p>
<p>Telefono : 01800776665 </p>

</div>

</div>