<div id="wrap">
    <a href="#" class="hb">
      <div class="c">
        <img src="https://source.unsplash.com/user/web_tiki/2000x1300" alt=""/>
        <div class="txt">
          <h1>Title here</h1>
          <p>Some longer text here thats wide enough to span on several lines.</p>
        </div>
      </div>
    </a>
    <div class="fullBg">
      <img src="https://source.unsplash.com/user/web_tiki/2000x1300" alt=""/>
    </div>
    <a href="#" class="hb">
      <div class="c">
        <img src="https://source.unsplash.com/user/web_tiki/2000x1301" alt=""/>
        <div class="txt">
          <h1>Title here</h1>
          <p>Some longer text here thats wide enough to span on several lines.</p>
        </div>
      </div>
    </a>
    <div class="fullBg">
      <img src="https://source.unsplash.com/user/web_tiki/2000x1301" alt=""/>
    </div>
    <a href="#" class="hb">
      <div class="c">
        <img src="https://source.unsplash.com/user/web_tiki/2000x1302" alt=""/>
        <div class="txt">
          <h1>Title here</h1>
          <p>Some longer text here thats wide enough to span on several lines.</p>
        </div>
      </div>
    </a>
    <div class="fullBg">
      <img src="https://source.unsplash.com/user/web_tiki/2000x1302" alt=""/>
    </div>
    <a href="#" class="hb">
      <div class="c">
        <img src="https://source.unsplash.com/user/web_tiki/2000x1303" alt=""/>
        <div class="txt">
          <h1>Title here</h1>
          <p>Some longer text here thats wide enough to span on several lines.</p>
        </div>
      </div>
    </a>
    <div class="fullBg">
      <img src="https://source.unsplash.com/user/web_tiki/2000x1303" alt=""/>
    </div>
  </div>
 
<script>
$(document).ready(function(){
    var docWidth = $('body').width(),
        $wrap = $('#wrap'),
        $images = $('#wrap .hb'),
        slidesWidth = $wrap.width();
    
    $(window).on('resize', function(){
      docWidth = $('body').width();
      slidesWidth = $wrap.width();
    })
    
    $(document).mousemove(function(e) {
      var mouseX = e.pageX,
          offset = mouseX / docWidth * slidesWidth - mouseX / 2;
      
      $images.css({
        '-webkit-transform': 'translate3d(' + -offset + 'px,0,0)',
                'transform': 'translate3d(' + -offset + 'px,0,0)'
      });
    });
  })</script>