.contenedor{
width: 100%;
height: 100%;;

}
.formulario{
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
   
    padding: 40px;
    overflow: auto;

}
.acomodar{
    position: relative;
    width: 60%;
    height: 400px;
    top: 10%;
    left: 20%;
   
  
    overflow: hidden;

}
.rower{
    display: flex;
    flex-direction: row;
   
    align-items: center;
}
.inp{
    width: 20% !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.font10{
    font-size: 10px;
    color: #00BB88;
}
.numero{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

   
}
.barra{
    height: 2px;
    width: 40%;
    background: #212F3C;
    transition: .5s;
}
.stepBar{
    position: relative;
    width: 80%;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    left: 10%;
}
#icon1{
position: absolute;
}
#numero1{
position: absolute !important;
top: 0px !important;
}
#icon2{
position: absolute;
}
#numero2{
 position: absolute !important;
top: 0px !important;
}
#icon3{
position: absolute;
}
#numero3{
 position: absolute !important;
 top: 0px !important;
 }
 #paso2{
    visibility: hidden;
 }
 #paso3{
     visibility: hidden;
}