<div class="contenedor">

    <div class="rower stepBar">
      <div id="1" class="numero z-depth-2" onclick="step1()">
        <i class="material-icons" id="icon1"></i><h5 id="numero1">1</h5>
      </div>
      <div id="b1" class="barra">

      </div>
      <div id="2" class="numero z-depth-2" onclick="step2()">
          <i class="material-icons" id="icon2"></i><h5 id="numero2">2</h5>
      </div>
      <div id="b2" class="barra">

      </div>
      <div id="3" class="numero z-depth-2" onclick="step3()">
          <i class="material-icons" id="icon3"></i><h5 id="numero3">3</h5>
      </div>

    </div>

<div class="acomodar">
  <div class="formulario z-depth-2" id="paso1">
    <div class="">
      <p>Nombre del anuncio: </p> <input class="" type="text">
    </div>
    <div class="">
      <p>Descripcion: </p> <p class="font10">(Esta es la que veran tus clientes)</p> <br> <textarea name="" id="" cols="30" rows="10"></textarea><br>
    </div><br>
  
    <div class="">
        <p>Giro: </p> <input class="" type="text">
    </div>
    <div class="rower">
        <p>Horarios de servicio: </p> &nbsp; de <input class="inp" type="time"> a <input class="inp" type="time">
    </div>
   
  </div>
  <div class="formulario z-depth-2" id="paso2">
     
      <div class="">
          <p>Cantidad de anuncios que desplegaremos </p> <input class="" type="number">
      </div>
      <div class="rower">
          <p>Tiempo que sera mostrado el anuncio</p> <input class="inp" type="number"> <p>dias</p>
      </div>
      <br>
      <div class="rower">
          <p>Foto: </p> <p class="font10">&nbsp; (Esta es la que veran tus clientes)</p> &nbsp; &nbsp;<input  type="file">
      </div>
      <br>
      <div class="">
          <p>Telefono</p> <input class="" type="text">
      </div>
      
      
      
    </div>
    <div class="formulario z-depth-2" id="paso3">
      <h4 class="center"> Ubicaciones vincluladas a tu anuncio</h4>
        <div class="">
          <p>Ubicaciones </p> <input class="" type="text">
        </div>
        <div class="guardaUbicacion">
            <a href="">Vincular ubicacion</a>
        
        </div>
        <div class="guardaAnuncio">
            <a href="">Guardar todo</a>
        
        </div>
      </div>

    </div>
</div>