
.pag{
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;


}
.footer{
    position: absolute;
    top:200% ;
    width: 100%;
}
.carru{
    position: absolute;
    top:140% ;
    width: 100%;
}