
    <main class="z-depth-5">
      <div class="img-perfil">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/people_10.png" title="Aisha" alt="foto-perfil"></div>
      <h1>Qwip limited</h1>
      <p>Vista general</p>
      <hr>
      <h3>Tiempo anunciando: 5 meses.</h3>
      <p>Aqui se mostraran los demas detalles del plan</p>
      <div class="caja-gris">
         <div class="sobre">
            <i class="material-icons">
                alarm
                </i>
            <p>1086</p> 
        </div>
        <div class="sobre">
            <i class="material-icons">
                group
                </i>
                
                
            <p>1582</p> 
        </div>
        <div class="sobre">
            <i class="material-icons">
                fastfood
                </i>
                
                
            <p>1468</p> 
        </div>
      </div> 
      
       <p>Modifica, mejora y controla tus anuncios para conseguir el mayor provecho de tus anuncios.</p>
       <div class="boton">
                      <a routerLink="/dash/anuncios/modificarAnuncio">Modificar anuncios</a>
                  </div> 
      
      
      
    </main>
    
  
  
  