<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 465" version="1.1">
    <style>
      .Line {
        stroke: url(#linearGradient-3);
        stroke-width: 2;
        stroke-linecap: square;
        opacity: 0;
      }
  
      .Line.Line--highlighted {
        stroke: url(#linearGradient-2);
      }
  
      .Point {
        opacity: 0;
        stroke: #29B3C2;
        stroke-width: 3;
        fill: #FFFFFF;
      }
  
      .Point.Point--highlighted {
        stroke: #F1C03E;
      }
    </style>
    <defs>
      <linearGradient x1="49.7965246%" y1="28.2355058%" x2="49.7778147%" y2="98.4657689%" id="linearGradient-1">
        <stop stop-color="#DEF3FB" offset="0%"/>
        <stop stop-color="#F2FBFF" offset="100%"/>
      </linearGradient>
      <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-2">
        <stop stop-color="#F1C03E" offset="0%"/>
        <stop stop-color="#FFF5D9" offset="100%"/>
      </linearGradient>
      <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-3">
        <stop stop-color="#29B3C2" offset="0%"/>
        <stop stop-color="#E6F9FB" offset="100%"/>
      </linearGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <polygon fill="url(#linearGradient-1)">
       <animate id="graph-animation" xmlns="http://www.w3.org/2000/svg" dur="2s" repeatCount="" attributeName="points"
               values="0,464 0,464 111.6,464 282.5,464 457.4,464 613.4,464 762.3,464 912.3,464 1068.2,464 1191.2,464 1328.1,464 1440.1,464 1440.1,464 0,464;
                       0,464 0,367 111.6,323.3 282.5,373 457.4,423.8 613.4,464 762.3,464 912.3,464 1068.2,464 1191.2,464 1328.1,464 1440.1,464 1440.1,464 0,464;
                       0,464 0,367 111.6,263 282.5,336.6 457.4,363.5 613.4,414.4 762.3,464 912.3,464 1068.2,464 1191.2,464 1328.1,464 1440.1,464 1440.1,464 0,464;
                       0,464 0,367 111.6,263 282.5,282 457.4,323.3 613.4,340 762.3,425.6 912.3,464 1068.2,464 1191.2,464 1328.1,464 1440.1,464 1440.1,464 0,464;
                       0,464 0,367 111.6,263 282.5,282 457.4,263 613.4,290.4 762.3,368 912.3,446.4 1068.2,464 1191.2,464 1328.1,464 1440.1,464 1440.1,464 0,464;
                       0,464 0,367 111.6,263 282.5,282 457.4,263 613.4,216 762.3,329.6 912.3,420 1068.2,427.6 1191.2,464 1328.1,464 1440.1,464 1440.1,464 0,464;
                       0,464 0,367 111.6,263 282.5,282 457.4,263 613.4,216 762.3,272 912.3,402.4 1068.2,373 1191.2,412 1328.1,464 1440.1,464 1440.1,464 0,464;
                       0,464 0,367 111.6,263 282.5,282 457.4,263 613.4,216 762.3,272 912.3,376 1068.2,336.6 1191.2,334 1328.1,404 1440.1,464 1440.1,464 0,464;
                       0,464 0,367 111.6,263 282.5,282 457.4,263 613.4,216 762.3,272 912.3,376 1068.2,282 1191.2,282 1328.1,314 1440.1,372.8 1440.1,464 0,464;
                       0,464 0,367 111.6,263 282.5,282 457.4,263 613.4,216 762.3,272 912.3,376 1068.2,282 1191.2,204 1328.1,254 1440.1,236 1440.1,464 0,464;
                       0,464 0,367 111.6,263 282.5,282 457.4,263 613.4,216 762.3,272 912.3,376 1068.2,282 1191.2,204 1328.1,164 1440.1,144.79999999999998 1440.1,464 0,464;
                       0,464 0,367 111.6,263 282.5,282 457.4,263 613.4,216 762.3,272 912.3,376 1068.2,282 1191.2,204 1328.1,164 1440.1,8 1440.1,464 0,464;"
                fill="freeze"
                />
      </polygon>
      <ellipse id="Oval-01" cx="0" cy="368" rx="6" ry="6" class="Point">
        <animate
          attributeName="opacity"
          from="0"
          to="1"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 0s"
        />
        <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          from="0 -50"
          to="0 0"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 0s"
        />
      </ellipse>
      <ellipse id="Oval-02" cx="114" cy="263" rx="6" ry="6" class="Point">
        <animate
          attributeName="opacity"
          from="0"
          to="1"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 0.18s"
        />
        <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          from="0 -50"
          to="0 0"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 0.18s"
        />
      </ellipse>
      <ellipse id="Oval-03" cx="288" cy="282" rx="6" ry="6" class="Point">
        <animate
          attributeName="opacity"
          from="0"
          to="1"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 0.36s"
        />
        <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          from="0 -50"
          to="0 0"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 0.36s"
        />
      </ellipse>
      <ellipse id="Oval-04" cx="457" cy="263" rx="6" ry="6" class="Point">
        <animate
          attributeName="opacity"
          from="0"
          to="1"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 0.54s"
        />
        <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          from="0 -50"
          to="0 0"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 0.54s"
        />
      </ellipse>
      <ellipse id="Oval-05" cx="614" cy="217" rx="6" ry="6" class="Point Point--highlighted">
        <animate
          attributeName="opacity"
          from="0"
          to="1"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 0.72s"
        />
        <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          from="0 -50"
          to="0 0"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 0.72s"
        />
      </ellipse>
      <ellipse id="Oval-06" cx="765" cy="274" rx="6" ry="6" class="Point">
        <animate
          attributeName="opacity"
          from="0"
          to="1"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 0.9s"
        />
        <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          from="0 -50"
          to="0 0"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 0.9s"
        />
      </ellipse>
      <ellipse id="Oval-07" cx="913" cy="373" rx="6" ry="6" class="Point">
        <animate
          attributeName="opacity"
          from="0"
          to="1"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 1.08s"
        />
        <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          from="0 -50"
          to="0 0"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 1.08s"
        />
      </ellipse>
      <ellipse id="Oval-08" cx="1068" cy="282" rx="6" ry="6" class="Point">
        <animate
          attributeName="opacity"
          from="0"
          to="1"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 1.26s"
        />
        <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          from="0 -50"
          to="0 0"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 1.26s"
        />
      </ellipse>
      <ellipse id="Oval-09" cx="1193" cy="204" rx="6" ry="6" class="Point">
        <animate
          attributeName="opacity"
          from="0"
          to="1"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 1.44s"
        />
        <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          from="0 -50"
          to="0 0"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 1.44s"
        />
      </ellipse>
      <ellipse id="Oval-10" cx="1328" cy="163" rx="6" ry="6" class="Point Point--highlighted">
        <animate
          attributeName="opacity"
          from="0"
          to="1"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 1.62s"
        />
        <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          from="0 -50"
          to="0 0"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 1.62s"
        />
      </ellipse>
      <line id="Line-02" x1="114.1"  y1="460" x2="114"  y2="270" class="Line">
        <animate
          attributeName="opacity"
          from="0"
          to="0.6"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 0.18s"
        />
        <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          from="0 50"
          to="0 0"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 0.18s"
        />
      </line>
      <line id="Line-03" x1="288.1"  y1="460" x2="288"  y2="289" class="Line">
        <animate
          attributeName="opacity"
          from="0"
          to="0.6"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 0.36s"
        />
        <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          from="0 50"
          to="0 0"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 0.36s"
        />
      </line>
      <line id="Line-04" x1="456.9"  y1="460" x2="457"  y2="270" class="Line">
        <animate
          attributeName="opacity"
          from="0"
          to="0.6"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 0.54s"
        />
        <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          from="0 50"
          to="0 0"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 0.54s"
        />
      </line>
      <line id="Line-05" x1="614.1"  y1="460" x2="614"  y2="223" class="Line Line--highlighted">
        <animate
          attributeName="opacity"
          from="0"
          to="0.6"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 0.72s"
        />
        <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          from="0 50"
          to="0 0"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 0.72s"
        />
      </line>
      <line id="Line-06" x1="765.1"  y1="460" x2="765"  y2="280" class="Line">
        <animate
          attributeName="opacity"
          from="0"
          to="0.6"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 0.9s"
        />
        <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          from="0 50"
          to="0 0"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 0.9s"
        />
      </line>
      <line id="Line-07" x1="913.1"  y1="460" x2="913"  y2="381" class="Line">
        <animate
          attributeName="opacity"
          from="0"
          to="0.6"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 1.08s"
        />
        <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          from="0 50"
          to="0 0"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 1.08s"
        />
      </line>
      <line id="Line-08" x1="1068.1" y1="460" x2="1068" y2="289" class="Line">
        <animate
          attributeName="opacity"
          from="0"
          to="0.6"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 1.26s"
        />
        <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          from="0 50"
          to="0 0"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 1.26s"
        />
      </line>
      <line id="Line-09" x1="1193.1" y1="460" x2="1193" y2="211" class="Line">
        <animate
          attributeName="opacity"
          from="0"
          to="0.6"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 1.44s"
        />
        <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          from="0 50"
          to="0 0"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 1.44s"
        />
      </line>
      <line id="Line-10" x1="1328.1" y1="460" x2="1328" y2="170" class="Line Line--highlighted">
        <animate
          attributeName="opacity"
          from="0"
          to="0.6"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 1.62s"
        />
        <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          from="0 50"
          to="0 0"
          dur="0.5s"
          fill="freeze"
          begin="graph-animation.begin + 1.62s"
        />
      </line>
    </g>
  </svg>