<nav *ngIf="nav.visible" class="oye" role="navigation" id="navBar">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">
        <img src="../../../../assets/img/logo.png">
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a class="kik" >Inicio</a></li>
        <li><a class="kik" >¿Qué es Qwip?</a></li>
        <li><a class="kik"  routerLink="/registro">Registro/Inicio de sesion</a></li>

        <li><a class="kik" >¿Sobre Inversión?</a></li>
        <li><a class="kik" >Contacto</a></li>
      </ul>
      <ul id="nav-mobile" class="sidenav mol">
        <li><a class="kik" >Inicio</a></li>
        <li><a class="kik" >¿Qué es?</a></li>
        <li><a class="kik" >¿Cómo?</a></li>
        <li><a class="kik" >¿Modelo de Negocio?</a></li>
        <li><a class="kik">¿Sobre Inversión?</a></li>
        <li><a class="kik" >Contacto</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>