<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<div class="resume-wrapper">
	<section class="profile ">
		<div class="container">
		
      <div class="name-wrapper">
        <h1>Qwip Limited</h1><!-- YOUR NAME AND LAST NAME  -->
      </div>    
      <div class="clearfix"></div><h5>Datos generales</h5>
      <div class="contact-info clearfix">
      
      	<ul class="list-titles">
          
      		<li>Call</li>
      		<li>Mail</li>
      		<li>Web</li>
      		<li>Home</li>
      	</ul>
        <ul class="list-content ">
        	<li> &nbsp;+52 1 5610202793</li> <!-- YOUR PHONE NUMBER  -->
        	<li> &nbsp; contacto@qwip-app.com</li> <!-- YOUR EMAIL -->
        	<li> &nbsp;<a href="qwip-app.com">qwip-app.com</a></li> <!-- YOUR WEBSITE  -->
        	<li> &nbsp;México, CDMX</li> <!-- YOUR STATE AND COUNTRY  -->
        </ul>
      </div>
      <div class="contact-presentation"> <!-- YOUR PRESENTATION RESUME  -->
      	<p><span class="bold">Giro : </span> Empresa dedicada al desarrollo de software en el sector de movilidad </p>
      </div>
      <div class="contact-social clearfix">
      	<ul class="list-titles">
      		<li>Twitter</li>
      		<li>Facebook</li>
      		
      	</ul>
        <ul class="list-content"> <!-- REMEMBER TO PUT THE URL ON THE HREF TAG  -->
      		<li><a href=""> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;@QwipApp</a></li> <!-- YOUR TWITTER USER  -->
      		<li><a href="">&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Qwip Limited</a></li> <!-- YOUR DRIBBBLE USER  -->
      	
      	</ul>
      </div>
		</div>
	</section>
  
  <section class="experience section-padding">
  	<div class="container">
  		<h3 class="experience-title">Oportunidades en el mercado</h3>
      
      <div class="experience-wrapper">
      	<div class="company-wrapper clearfix">
      		<div class="experience-title">Producto</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">Qwip</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	</div>
        
        <div class="job-wrapper clearfix">
        	<div class="experience-title"> Saturacion de mercado </div> <!-- JOB TITLE  -->
          <div class="company-description">
          	<p> Este mercado esta saturado en un 14% </p>  <!-- JOB DESCRIPTION  -->
          </div>
        </div>
        
        <div class="job-wrapper clearfix">
      		<div class="experience-title">Oportunidades</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="company-description"> <p> Con base en el giro de tu empresa y la saturacion de el mercado tus oportunidades de destacar son: </p> <h3 class="experience-title">altas</h3> </div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	</div>
        
      </div><!--Skill experience-->
      
      <div class="section-wrapper clearfix">
      	<h3 class="section-title">Skills</h3>  <!-- YOUR SET OF SKILLS  -->
        	<ul>
        		<li class="skill-percentage">HTML / HTML5</li>
        		<li class="skill-percentage">CSS / CSS3 / SASS / LESS</li>
        		<li class="skill-percentage">Javascript</li>
        		<li class="skill-percentage">Jquery</li>
        		<li class="skill-percentage">Wordpress</li>
        		<li class="skill-percentage">Photoshop</li>
            
        	</ul>
        
      </div>
      
      <div class="section-wrapper clearfix">
        <h3 class="section-title">Recomendaciones</h3>  <!-- DESCRIPTION OF YOUR HOBBIES -->
        <p>Es un buen momento para invertir en anunciarte, tu mercado tiene potencial y no esta saturado</p>
        
       
      </div>
      
  	</div>
  </section>
  
  <div class="clearfix"></div>
</div>
<script>
// Some code thanks to @chrisgannon

var select = function(s) {
  return document.querySelector(s);
}

function randomBetween(min,max)
{
    var number = Math.floor(Math.random()*(max-min+1)+min);
  
    if ( number !== 0 ){
      return number;
    }else {
      return 0.5;
    }
}

var tl = new TimelineMax();

for(var i = 0; i < 20; i++){

  var t = TweenMax.to(select('.bubble' + i), randomBetween(1, 1.5), {
    x: randomBetween(12, 15) * (randomBetween(-1, 1)),
    y: randomBetween(12, 15) * (randomBetween(-1, 1)), 
    repeat:-1,
    repeatDelay:randomBetween(0.2, 0.5),
    yoyo:true,
    ease:Elastic.easeOut.config(1, 0.5)
  })

  tl.add(t, (i+1)/0.6)
}

tl.seek(50);</script>