/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
    margin: 0px;
}
body{
    height: 100%;
    margin: 0px;
}
.w100{
    width: 100%;
}
/*SCROLLBAR STYLE*/
::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(0, 0, 0, 0.01);
  }
  ::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255, .2);
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb {
    background: #adadad; 
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: gray; 
  }
  