<div class="container">
  
    <div class="col-md-1">
    </div>
    <div class="col-md-12">
      <section class="model-1">
        <div class="graph">Women</div>
        <span tooltip="60%" class="tooltip">Women Participants</span>
      </section>
      <section class="model-2">
        <div class="graph">Trainers</div><span tooltip="70%" class="tooltip">Nike Trainers</span>
      </section>
      <section class="model-3">
        <div class="multi-graph">Runners
          <div data-name="Women" class="graph women"> </div>
          <div data-name="Nike Trainers" class="graph trainers"></div>
          <div data-name="Men" class="graph men"> </div>
        </div>
      </section>
    </div>
  


  
    <div class="col-md-12">
      <section class="model-4">
        <div class="graph">Women</div>
        <span tooltip="60%" class="tooltip">Women Participants</span>
      </section>
      <section class="model-5">
        <div class="graph">Trainers</div><span tooltip="70%" class="tooltip">Nike Trainers</span>
      </section>
      <section class="model-6">
        <div class="multi-graph">Runners
          <div data-name="Women" class="graph women"> </div>
          <div data-name="Nike Trainers" class="graph trainers"></div>
          <div data-name="Men" class="graph men"> </div>
        </div>
      </section>
    </div>
  

  <div>