<div class="contenedor">
  <div class="item z-depth-4 ">
    <p class="tit">NOMBRE DE LA EMPRESA.</p>
    <p class="text">Qwip limited.</p>
  </div>
  <div class="item z-depth-4">
    <p class="tit" >CORREO ELECTRONICO.</p>
    <p class="text">contacto@Qwip.com</p>

  </div>
  <div class="item z-depth-4">
    <p class="tit" >PLAN CONTRATADO.</p>
    <p class="text">Plan personalizado  <br> <a routerLink="/dash/empresa/empresaDatosPlan">Ver plan</a>.</p>

  </div>
  <div class="item z-depth-4 ">
    <p class="tit" >ANUNCIOS REGISTRADOS.</p>
    <p class="text">5 anuncios registrados. <br> <a routerLink="/dash/empresa/empresaDatosAds">Ver anuncios</a>.</p>

  </div>
</div>