.contenedor{
  position: absolute;
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: row;
  background: #ECF0F1;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 50px;
}
.item{
  width: 400px;
  height: 200px;
  background: #FFFFFF;
  
  margin: 20px;
  
}
.tit{
  background: #ABEBC6;
  padding: 20px;
  font-weight: bold;

}
.text{
  font-size: 30px;
  padding: 20px;
}
a{
  text-decoration: none;
  color: #F7568E; 
  font-weight: bold; 
}