.cont{
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
.cuadro{
    position: relative;
    width: 80%;

    top: 50px;
    left: 10%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.izq{
width: 70%;
padding: 50px;

}

.der{
    width: 30%; 
    padding: 50px;
    background: #D1F2EB;
}
@media (max-width: 1300px) {
    .der {
        width: 100%;
    }
    .izq {
        width: 100%;
    }
}
.tit{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #15C180;
}
p{
    width: 100%;
}
button{
    width: 30%;
    position: relative;
    top: 30px;
    left: 35%;
    background: rgb(171, 235, 198);
    color: black;

}
.in{
    height: 30px !important;
  
}