<div class="cont">
  <div class="cuadro z-depth-5">
    <div class="izq">
     <p class="tit">Empresa</p><br><br><br> <br>

     <p>Nombre de la empresa : </p><input class="in" type="text"><br>
     <p>Correo empresarial : </p><input class="in"  type="text"><br>
     <p>contraseña : </p><input class="in" type="text">
     <p>Logo : </p> <br> <input class="in" type="file"><br>
     <p>Cede general: </p>  <input class="in" type="text"><br>
     <p>Giro </p>  <input class="in" type="text"><br>
     
     <button class="btn waves-effect waves-light" type="submit" name="action">Listo
        <i class="material-icons right">send</i>
      </button>
    

    </div>
    <div class="der">
        <p class="tit">Administrador</p><br><br><br><br>
        <p>Nombre : </p><input class="in" type="text"><br>
        <p>Correo : </p><input class="in" type="text"><br>
        
        <p>Telefono : </p><input class="in" type="text">
         <br> 
        <button onclick="funciona()" class="btn waves-effect waves-light" type="submit" name="action">
            <i class="material-icons right">send</i>
          </button>
    </div>
  </div>
  

</div>
<script>

</script>