
<br><br><br><br><br><br>
<div class="form">

    <input id="noaccount" name="radioaccount" type="radio" class="radio radio--invisible" checked />
    <input id="account" name="radioaccount" type="radio" class="radio radio--invisible"/>
    <div class="form_background">
      <div class="form-group form-group--account">
        <h3 class="form-group_title">Inicio de sesión</h3>
        <input class="form-group_input" type="email" placeholder="Email" [(ngModel)] ="Usuario.emailLogin"/>
        <input class="form-group_input" type="password" placeholder="Password" [(ngModel)] ="Usuario.passwordLogin"/>
        <button class="button button--form" (click)="iniciarSesion()"  routerLink="/dash" >Iniciar</button>
      </div>
      <div class="form-group form-group--noaccount">
        <h3 class="form-group_title">Registro</h3>
        <input class="form-group_input" type="text" name="nombre" placeholder="Full Name" [(ngModel)] ="Usuario.nombre"/> 
        <input class="form-group_input" type="email" name="email" placeholder="Email" [(ngModel)]="Usuario.email" />
        <input class="form-group_input" type="password" name="pass" placeholder="Password" [(ngModel)]="Usuario.password" />
        <button class="button button--form" (click)="guardarUsuario()">Registrar</button>
      </div>
    </div>

  <fieldset class="fieldset">
    <h2>¿Aun no tienes una cuenta?</h2>
    <p>Registrate para contar con todos nuestros servicios</p>
    <div class="form_content form_content--noaccount">
      
    </div>
    <label for="noaccount" class="button">Registro</label>
  </fieldset>
  <fieldset class="fieldset">
    <h2>¿Ya tienes una cuenta creada?</h2>
    <p>Inicia sesion y controla la publicidad de tu empresa</p>
    
    <div class="form_content form_content--noaccount">
      
    </div>
    <label for="account" class="button">login</label>
  </fieldset>
</div>
